
*.xcuserstate

*.xcbkptlist

webservice.xcworkspace/xcshareddata/webservice.xccheckout

webservice.xcworkspace/xcuserdata/ken.xcuserdatad/UserInterfaceState.xcuserstate

webservice.xcworkspace/xcuserdata/ken.xcuserdatad/UserInterfaceState.xcuserstate
